spring:
  application:
    name: eventhub

  datasource:
    url: jdbc:h2:file:./data/eventhub;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  mvc:
    format:
      date-time: iso

server:
  port: 8080

logging:
  level:
    com.danielaguiar.eventhub: DEBUG
    org.hibernate.SQL: DEBUG
